
*.xml
*.dll
*.json
*.pdb
obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
obj/ExampleSurvivor.csproj.nuget.g.props
obj/Debug/netstandard2.0/ExampleSurvivor.AssemblyInfo.cs
obj/Debug/netstandard2.0/ExampleSurvivor.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/ExampleSurvivor.assets.cache
obj/Debug/netstandard2.0/ExampleSurvivor.csproj.CopyComplete
*.cache
obj/Debug/netstandard2.0/ExampleSurvivor.csproj.FileListAbsolute.txt
obj/ExampleSurvivor.csproj.nuget.g.targets
ExampleSurvivor.manifest
examplesurvivorbundle
ExampleSurvivor.csproj
ExampleSurvivor
ExampleSurvivor.csproj.user
examplesurvivorbundle.manifest
